{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ path('savedata') }}">
                save
            </a>
            <a href="">
                update
            </a>

            {% for item in data %}
                <li><a href="{{ path('showdata', {'productId': item.id}) }}">{{ item.name }}</a></li>
            {% endfor %}

        </div>
    </div>
{% endblock %}
